html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#nprogress {
  .bar {
    z-index: 9999 !important
  }
}

:where(b, strong) {
  font-weight: bolder;
}